@import 'src/assets/scss/abstracts/variables.scss';
@import 'src/assets/scss/abstracts/mixins.scss';

.theme-toggler {
    &.button {
        color: $light;
        background-color: $dark;
    }

    @include atDarkTheme {
        color: $dark;
        background-color: $light;
        &:hover {
            background-color: darken($light, 8);
        }
    }
    &:hover {
        background-color: lighten($dark, 4);
    }
}