@import 'src/assets/scss/abstracts/variables.scss';

footer.footer {
    padding: 2rem 1rem;

    .love {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        font-family: monospace;
    }
}